<div class="modal-header">
  <div class="modal-title">
    <span *ngIf="editDto.id"> {{ l('EditingRole') }} : {{ editName }} </span>
    <span *ngIf="!editDto.id"> {{ l('CreatingNewRole') }}</span>
  </div>
</div>
<nz-spin *ngIf="!editDto" class="modal-spin"></nz-spin>
<sf *ngIf="editDto" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="editDto" button="none">
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" nzType="primary" (click)="save()" [disabled]="!sf.valid" [nzLoading]="saving">
      <span *ngIf="editDto.id"> 保存 </span>
      <span *ngIf="!editDto.id"> 创建 </span>
    </button>
  </div>
</sf>
